@use "mixins";
$sub_text_color: #686868;
$main_font_bold: 'KaiseiOpti_bold', sans-serif;
@font-face {
    font-family:'Federo' ;
    src: url(/font/Federo-Regular.ttf);
}
@font-face {
    font-family:'KaiseiOpti' ;
    src: url(/font/KaiseiOpti-Regular.ttf);
}

@font-face {
    font-family: 'KaiseiOpti_bold' ;
    src: url(font/KaiseiOpti-Bold.ttf);
}

@font-face {
    font-family: 'Merianda';
    src: url(font/Merienda-Regular.ttf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'KaiseiOpti', sans-serif;
	font-size: 2.4rem ;
    @include mixins.breakpoint(900px){
        font-size: 1.6rem;
    }
}

html{
    font-size: 62.5%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body{
    background-color: #FCEDED;
}
h1{
    font-family: $main_font_bold;
    font-size: 3.6rem ;
    @include mixins.breakpoint(900px){
        font-size:2.4rem
    }
}

h2{
    font-family: $main_font_bold;
}

p{
    font-size: 2.4rem;
    @include mixins.breakpoint(900px){
        font-size: 1.5rem;
    }
}

#subtext{
    font-size: 2rem;
    color:#686868;
    @include mixins.breakpoint(900px){
        font-size: 1.4rem;
    }
}

#bouton_learn{
    color: #615086;
    border: solid #615086 0.1rem;
    padding: 2rem;
    text-decoration: none;
    margin-top: 4rem;
    font-size: 1.6rem;
    @include mixins.breakpoint(900px){
        font-size: 1.3rem;
        padding: 1rem;
        margin-top: 3rem;
    }
}


nav{
    
    margin: 4rem;
    @include mixins.flex(null,center,space-between);

    span:nth-of-type(1){
        width:40%;
    }

    span:nth-of-type(2){
        width:65%;
    }

    span:nth-of-type(3){
        width:100%;
    }

    input[type="checkbox"]{
        display:none;
    }
    input[type="checkbox"]:checked ~ span {
        z-index: 2;
    }
}


#logo{
    width: auto;
    
    height: 5rem;
}

label{
    @include mixins.flex(column);
    width:5rem;
    cursor:pointer;

    span{
        background: rgb(0, 0, 0);
        height:0.7rem;
        margin: 0.7rem 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
}


  /** hover **/


nav input:hover ~ span:nth-of-type(1){
    transition: 0.5s ;
    width: 100%;
}


nav input:hover ~ span:nth-of-type(3){
    transition: 0.5s ;
    width: 40%;
}

  /** changement forme **/

nav input[type="checkbox"]:checked ~ span:nth-of-type(1){
    width: 40%;
    transform-origin:bottom;
    transform:rotatez(45deg) translate(0.9rem,0.1rem);
}

nav input[type="checkbox"]:checked ~ span:nth-of-type(2){
    width:100%;
    transform-origin:top;
    transform:rotatez(-45deg)
} 

nav input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width:45%;
    transform: translate(26px,-12px) rotatez(45deg);
}

/* Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: #FCEDED;
    display: flex;
}

  /* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% auto;
    padding: 11.6rem;
    width: 80%;
    
    a{
        cursor: pointer;
        color: #262626;
        text-decoration: none;
        font-size:6rem ;
        font-family: 'Federo',sans-serif;
        padding-top: 4.7rem;
        @include mixins.breakpoint(900px){
            font-size:3.6rem ;
        }
        
    }
}


/*home content*/

#home_content{
    @include mixins.flex(column, null, space-between);
    height: 100vh;
    scroll-snap-align: start;
}

.top_content{
    @include mixins.flex(column);
    margin: 4rem;
    margin-left: 55rem;
    @include mixins.breakpoint(900px){
        margin: 4rem 4rem 4rem 4rem;
    }

    p{
        padding-top: 3.4rem;
        @include mixins.breakpoint(900px){
            font-size: 1.6rem;
            padding-top: 1.7rem;
        }
    }
    #first_text{
        @include mixins.flex(column);
        padding-bottom: 1.7rem;
    }

    #underline_decoration{
        border-top: 0.2rem solid rgb(0, 0, 0);
        width: 10rem;
        margin-left: 9rem;
        @include mixins.breakpoint(900px){
            margin-left: 6rem;
            width: 7rem;
        }
    }

    #bouton_learn_countainer{
        @include mixins.flex(null, null, flex-start);
    }

    /*decoration visible qu'en ecran +grand que 900px*/
    #box_content{
        position: fixed;
        z-index: -1;
        left: 0;
        height: 65vh;
        width: 40vh;
        margin-left: 10rem;
        background-color: #615086;
        @include mixins.breakpoint(900px){
            display: none;
        }
    }
}


.bottom_content{
    margin-left: 4rem;
    margin-right: 4rem;
    @include mixins.flex(null, flex-end, flex-end);
    padding-bottom: 5rem;

    #decoration_dot1 {
        height: 16.8rem;
        width: 16.8rem;
        background-color: #D9D9D9;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 2rem;
    }
    #decoration_dot2{
        height: 7.8rem;
        width: 7.8rem;
        background-color: #DCBABA;
        border-radius: 50%;
        position: absolute;
        margin-right: 12rem;
    }
}

/*contact*/


#contact{
    width: 100%;
    height: 100vh;
    background-color: #F0B4A1;
    scroll-snap-align: start;
    @include mixins.flex(column, null, space-around);
    
    p{
        margin-left: 5.5rem;
        margin-right: 5.5rem;
    }

    #contact_first_text{
        @include mixins.flex(column, center);
        padding-top: 5rem;
        @include mixins.breakpoint(900px){
            padding-top: 12rem;
        }
        #contact_title{
            font-family: $main_font_bold;
            font-size: 3.6rem;
            @include mixins.breakpoint(900px){
                font-size:2.4rem
            }
        }


        #underline_decoration{
        border-top: 0.2rem solid rgb(0, 0, 0);
        width: 12rem;
        @include mixins.breakpoint(900px){
            width: 9.1rem;
        }
        }
    }

    #social_media{
        width: 30%;
        @include mixins.flex(column, center);
        @include mixins.breakpoint(900px){ 
            margin: 4rem 4rem 4rem 4rem;
            width: auto;
        }

        .social_media_img{
            padding: 7rem;
            @include mixins.breakpoint(900px){
                padding: 5rem;
            }
        }
        .social_media_img img{
            width: 4.7rem;
            height: auto;
            @include mixins.breakpoint(900px){
                width: 2.4rem;
            }
        }
    }

    .email{
        width: 30%;
        padding-bottom: 3.2rem;
        @include mixins.breakpoint(900px){ 
            width: auto;
            padding-bottom: 0;
        }
        p{
            padding-bottom: 5rem;
            @include mixins.breakpoint(900px){
                padding-bottom: 1rem;
            }
        }

    }

    .email_button_container{
        @include mixins.flex(null, null, center);
        #email_button{
            @include mixins.flex();
            color: #615086;
            border: solid #615086 0.1rem;
            text-decoration: none;
            padding: 2rem;
            margin-top: 4rem;
            font-size: 1.6rem;
            @include mixins.breakpoint(900px){
                padding: 1rem;
                font-size: 1.3rem;  
                margin-top: 3rem;
            }
        }
    }

    #horizontal_line{
        border-left: 0.4rem solid rgb(0, 0, 0) ;
        height: 50rem;
        margin-bottom: 10rem;
        @include mixins.breakpoint(900px){
            display: none
        }
    }
    #content_contact{
        @include mixins.flex(null, center,center);
        @include mixins.breakpoint(900px){
            display: block
        }
    }
}




/////* About*//////




#about_me{
    @include mixins.flex(column, null, space-between);
    height: 100vh;

    #about_description{
        margin: 0 4rem 10rem 4rem;

        #presentation_img{
            height: 25rem;
            width: 28.5rem;
            object-fit: cover;
            margin-bottom: 5.1rem;
        }

        #underline_decoration{
            border-top: 0.2rem solid rgb(0, 0, 0);
            width: 12rem;
        }
        
        #title_about{
            @include mixins.flex(column);
            margin-bottom: 7.3rem
        }
    }
}




.go_down{
    @include mixins.flex(column,center);

    p{
        color: $sub_text_color;
        font-size: 1.2rem;
        font-family: 'Merianda', sans-serif;
        opacity: 80%;
    }

    #underline_decoration_2{
        margin-top: 0.7rem;
        border-top: 0.2rem solid $sub_text_color;
        opacity: 40%;
        width: 17.6rem;
    }

    .arrow_bottom{
        @include mixins.flex(column, center);
        margin-bottom: 4rem;
        margin-top: 1.3rem;
        
        .arrow{
            width: 0.2rem;
            height: 6.5rem;
            background-color: $sub_text_color;
            display: inline-block;
            vertical-align: middle;
            opacity: 40%;
        }
        
        .arrow_down {
            @include mixins.arrow(down_direction);
        }
    }

}

///Skill////


article {
    padding-top: 8rem;
    width: 100%;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    min-height: 4em;
    margin-bottom: 5rem;

// slide in animation //


    .example-left {
        height: 10vh;
        white-space: nowrap;
        text-transform: uppercase;
        color: #250710;
        font-size: 6vh;
        line-height: 6rem;
    }
    
    .example-left {
        -webkit-animation: slide_in 5s linear infinite; /* Safari 4.0 - 8.0 */
        white-space: nowrap;
        animation: slide_in 5s linear infinite alternate;
    }

    .example-right {
        white-space: nowrap;
        text-transform: uppercase;
        color: #250710;
        font-size: 4vh;
        line-height: 6rem;
    }
    
    .example-right {
        -webkit-animation: slide_in 8s linear infinite; /* Safari 4.0 - 8.0 */
        white-space: nowrap;
        animation: slide_in 8s linear infinite alternate;
    }
}


@keyframes slide_in {
    from {
        right: 0;
    }
    to {
        right: -140px;
    }
}


/* passions */

#passion{
    height:160vh;
    background-color: #615086;
    
    .grid_gallery{
    margin: 0 4rem 10rem 4rem;
    padding-top: 4rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 7.6rem;

        img{
        height:13rem;
        width: 25rem;

        object-fit:cover;
        }
        
        p{
            font-size: 1.3rem;
            color: #ece1f8;
        }

        .gallery_item{
            background-color: #9b9cec;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
    }
}

/* Projects */

#first_project, #second_project, #third_project{
    margin: 0 4rem 0 4rem;
    @include mixins.flex(column);
    height: 100vh;

    #title_project{
        @include mixins.flex(null, null, center);
        margin-top: 3rem;
        margin-bottom: 9rem;
    }

    .project_content{

        img{
            height: 20rem;
            max-width: 27rem;
            object-fit: contain;
        }

        .project_item{
            background-color: #554658;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            @include mixins.flex(column, center);
            padding: 1rem;
            margin: 3.6rem 0  5.9rem 0;
        }
        #bouton_learn_countainer{
            padding-bottom: 11rem;
            @include mixins.flex(null, null, flex-end);

            #bouton_learn{
                margin: 0;
            }
        }
    }
}

#second_project, #third_project{
    height: 80vh;
    margin-top: 10rem;
}

/* parc amitié*/

.content_project_page{
    height: 100vh;
    margin: 0 4rem 0 4rem;
    .content_project_page_description{
        @include mixins.flex(column, center);

        p{
            margin-bottom: 6rem;
        } 

        #parc_img, #inback_img{
            background-color: #e4bf9d;
            height: 20rem;
            width: 30.9rem;
            object-fit: contain;
            margin-bottom: 6.4rem;
        }

        .content_project_page_title{
            @include mixins.flex(null, null, center);
            margin-bottom: 5.6rem;
        }
    }
    #bouton_learn{
        margin-right: 0;
    }
}
