@use "mixins";
$sub_text_color: #686868;
$main_font_bold: 'KaiseiOpti_bold', sans-serif;
@font-face {
    font-family:'Federo' ;
    src: url(/font/Federo-Regular.ttf);
}
@font-face {
    font-family:'KaiseiOpti' ;
    src: url(/font/KaiseiOpti-Regular.ttf);
}

@font-face {
    font-family: 'KaiseiOpti_bold' ;
    src: url(font/KaiseiOpti-Bold.ttf);
}

@font-face {
    font-family: 'Merianda';
    src: url(font/Merienda-Regular.ttf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'KaiseiOpti', sans-serif;
	font-size: 2.4rem ;
    @include mixins.breakpoint(900px){
        font-size: 1.6rem;
    }
}

html{
    font-size: 62.5%;
    //on ajoute l'effet de scroll magnétique sur la balise html 
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body{
    background-color: #FCEDED;
    position: relative;
}
h1{
    font-family: $main_font_bold;
    font-size: 4rem ;
    color: #262626;
    //mixins pour notre responsive
    @include mixins.breakpoint(900px){
        font-size:2.4rem
    }
}

h2{
    font-family: $main_font_bold;
    color: #262626;
}

p{
    font-size: 2.4rem;
    color: #262626;
    @include mixins.breakpoint(900px){
        font-size: 1.5rem;
    }
}

.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #414141;

    .social_media_img img{
        width: 5rem;
        height: auto;
        @include mixins.breakpoint(900px){
            width: 2rem;
        }
    }
    .social_media_img {
        padding: 5rem;
    }
    p{
        color: #b9b9b9;
        margin-left: 5rem;
    }
}

#subtext{
    font-size: 2rem;
    color:#686868;
    @include mixins.breakpoint(900px){
        font-size: 1.4rem;
    }
}

#bouton_learn{
    color: #615086;
    border: solid #615086 0.1rem;
    padding: 2rem;
    text-decoration: none;
    margin-top: 4rem;
    font-size: 1.6rem;
    @include mixins.breakpoint(900px){
        font-size: 1.3rem;
        padding: 1rem;
        margin-top: 3rem;
    }
}
#bouton_learn:hover {
    box-shadow: 0px 0.5px 1rem rgba(184, 131, 131, 0.4);
    transition: 0.2s;
}

nav{
    //on garde la nav quand on scroll avec un z-index 1 pour être sur de s'afficher au dessus de certain contenu de page
    position: sticky;
    z-index: 1;
    width: 100%;
    top: 0;
    background-color: #f5f1f171;
}

.nav_container{
    padding: 2rem 0 2rem 0;
    margin: 0 15rem 0 15rem;
    @include mixins.breakpoint(900px){
        margin: 0 4rem 0 4rem;
    }
    @include mixins.flex(null,center,space-between);
//le style de notre nav bar avec des bandes
    span:nth-of-type(1){
        width:40%;
    }

    span:nth-of-type(2){
        width:65%;
    }

    span:nth-of-type(3){
        width:100%;
    }

    input[type="checkbox"]{
        display:none;
    }
}


#logo{
    position: relative;
    //on met le logo en z index 2 pour passer au dessus du modal qui lui est en z index 1
    z-index: 2;
    width: auto;
    height: 8rem;
    @include mixins.breakpoint(900px){
        height: 5rem;
    }
}

label{
    position: relative;
    //on met le menu burger en z index 2 pour passer au dessus du modal qui lui est en z index 1
    z-index: 2;
    @include mixins.flex(column);
    width:5rem;
    cursor:pointer;

    span{
        background: rgb(0, 0, 0);
        height:0.7rem;
        margin: 0.7rem 0;
        //transition pour nos spans avec la transition et cubic bezier avec des points défini pour que ca soit homogène
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
}


  /** hover **/

//le hover change la taille des span pour une disposition inversée

nav input:hover ~ span:nth-of-type(1){
    transition: 0.5s ;
    width: 100%;
}


nav input:hover ~ span:nth-of-type(3){
    transition: 0.5s ;
    width: 40%;
}

  /** changement forme pour faire une croix quand notre checkbox (=menu burger) est cochée **/

nav input[type="checkbox"]:checked ~ span:nth-of-type(1){
    width: 40%;
    transform-origin:bottom;
    transform:rotatez(45deg) translate(0.9rem,0.1rem);
}

nav input[type="checkbox"]:checked ~ span:nth-of-type(2){
    width:100%;
    transform-origin:top;
    transform:rotatez(-45deg)
} 

nav input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width:45%;
    transform: translate(26px,-12px) rotatez(45deg);
}

/* Modal (background) */
.modal {
    display: none; 
    //on fixed notre modal pour qu'il reste dans la même position tout en haut des pages quand on l'ouvre
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: #FCEDED;
    display: flex;
}

  /* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    padding: 11.6rem;
    width: 80%;

    
    a{
        cursor: pointer;
        color: #262626;
        text-decoration: none;
        font-size:6rem ;
        font-family: 'Federo',sans-serif;
        padding-top: 4.7rem;
        @include mixins.breakpoint(900px){
            font-size:3.6rem ;
        }
        
    }
}


/*home content*/

#home_content{
    @include mixins.flex(column, null, space-between);
    height: 100vh;
    padding-top: 20vh;
    //on ajoute un scroll snap start pour l'effet de magnétisme
    scroll-snap-align: start;
}

.top_content{
    @include mixins.flex(column);
    margin: 4rem;
    margin-left: 55rem;
    @include mixins.breakpoint(900px){
        margin: 4rem 4rem 4rem 4rem;
    }

    p{
        padding-top: 3.4rem;
        @include mixins.breakpoint(900px){
            font-size: 1.6rem;
            padding-top: 1.7rem;
        }
    }
    #first_text{
        @include mixins.flex(column);
        padding-bottom: 1.7rem;
    }

    #underline_decoration{
        border-top: 0.2rem solid rgb(0, 0, 0);
        width: 10rem;
        margin-left: 9rem;
        @include mixins.breakpoint(900px){
            margin-left: 6rem;
            width: 7rem;
        }
    }

    #bouton_learn_countainer{
        @include mixins.flex(null, null, flex-start);
    }

    /*decoration visible SEULEMENT en ecran plus grand que 900px*/
    #box_content{
        /*on lui met une position absolute et un left 0 pour pas que cette div 
        influence nos div qu'on a déja mis en place*/
        position: absolute;
        left: 0;
        margin-left: 10rem;

        #box_img{        
            height: 65vh;
            width: 40vh;
            object-fit: cover;
            object-position: center;
            border-radius: 0.5rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        } 
        /*on le display none quand l'écran est plus petit que 900px*/
        @include mixins.breakpoint(900px){
            display: none;
        }
    }
}


.bottom_content{
    margin-left: 4rem;
    margin-right: 4rem;
    @include mixins.flex(null, flex-end, flex-end);
    padding-bottom: 5rem;

    #decoration_dot1 {
        height: 16.8rem;
        width: 16.8rem;
        background-color: #D9D9D9;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 2rem;
    }
    #decoration_dot2{
        height: 7.8rem;
        width: 7.8rem;
        background-color: #DCBABA;
        border-radius: 50%;
        //notre décoration dot passe au dessus de l'autre avec sa position absolute
        position: absolute;
        z-index: 0;
        margin-right: 12rem;
    }
}

/*contact*/

#contact{
    width: 100%;
    height: auto;
    padding-top: 5rem;
    background-color: #F0B4A1;
    //j'ai mis un scroll snap align end pour pas que le titre contact soit gêné par la nav
    scroll-snap-align: end;
    @include mixins.flex(column, null, space-around);
    
    p{
        margin-left: 5.5rem;
        margin-right: 5.5rem;
        color: #484343;
    }

    #contact_first_text{
        @include mixins.flex(column, center);
        padding-top: 5rem;
        @include mixins.breakpoint(900px){
            padding-top: 7rem;
        }
        #contact_title{
            font-family: $main_font_bold;
            font-size: 3.6rem;
            @include mixins.breakpoint(900px){
                font-size:2.4rem
            }
            p{
                color: #484343;
            }
        }

        #underline_decoration{
        border-top: 0.2rem solid rgb(90, 90, 90);
        width: 12rem;
        @include mixins.breakpoint(900px){
            width: 9.1rem;
        }
        }
    }

    #social_media{
        width: 30%;
        @include mixins.flex(column, center);
        @include mixins.breakpoint(900px){ 
            margin: 4rem 4rem 4rem 4rem;
            width: auto;
        }

        .social_media_img{
            padding: 7rem;
            @include mixins.breakpoint(900px){
                padding: 5rem;
            }
        }
        .social_media_img img{
            width: 4.7rem;
            height: auto;
            @include mixins.breakpoint(900px){
                width: 2.4rem;
            }
        }
    }

    .email{
        width: 30%;
        @include mixins.breakpoint(900px){ 
            width: auto;
            padding-bottom: 0;
        }
        p{
            color: #484343;
            padding-bottom: 5rem;
            @include mixins.breakpoint(900px){
                padding-bottom: 1rem;
            }
        }
    }

    .email_button_container{
        @include mixins.flex(null, null, center);
        padding-bottom: 7rem;
        @include mixins.breakpoint(900px){
            padding-bottom: 5rem;
        }
        #email_button{
            @include mixins.flex();
            color: #615086;
            border: solid #615086 0.1rem;
            text-decoration: none;
            padding: 2rem;
            margin-top: 3rem;
            font-size: 1.6rem;
            @include mixins.breakpoint(900px){
                padding: 1rem;
                font-size: 1.3rem;  
            }
        }
    }

    #horizontal_line{
        border-left: 0.4rem solid rgb(68, 68, 68) ;
        height: 40rem;
        margin-top: 5rem;
        margin-bottom: 10rem;
        @include mixins.breakpoint(900px){
            display: none
        }
    }
    #content_contact{
        @include mixins.flex(null, center,center);
        @include mixins.breakpoint(900px){
            display: block
        }
    }
}

.footer_container_index{
    scroll-snap-align: end;
}

/////* About*//////

#about_me{
    @include mixins.flex(column, null, space-between);
    height: auto;

    #about_description{
        #presentation_img{
            height: 40rem;
            width: 46.5rem;
            object-fit: cover;
            object-position: left;
            border-radius: 3rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            @include mixins.breakpoint(900px){
                height: 20rem;
                width: 28.5rem;
                margin-bottom: 5.1rem;
            }
        }

        #underline_decoration{
            width: 18.8rem;
            border-top: 0.2rem solid rgb(0, 0, 0);
            @include mixins.breakpoint(900px){
                width: 12rem;
            }
        }
        
        #title_about{
            margin: 0 15rem 0rem 15rem;
            margin-top: 8rem;
            margin-bottom: 8rem;
            @include mixins.flex(column, center);
            @include mixins.breakpoint(900px){
                margin: 0 0rem 7.3rem 0rem;
        }
        }

        .about_content{
            background-color:#f4f4fa;
            box-shadow: rgba(140, 145, 143, 0.24) 0px 3px 8px;
            padding: 5rem;
            padding-bottom: 10rem;
            @include mixins.flex(null, center, center);    

            @include mixins.breakpoint(900px){
                @include mixins.flex(column, center, null);
                padding: 2rem;
                margin-bottom: 5rem;
            }
            p{
                color: #414141;
                @include mixins.breakpoint(900px){
                    padding-left: 0;
                }
            }

            a{
                text-decoration: none;
            }

            .text_content_about{
                width: 38%;
                padding: 3rem;
                padding-left: 5rem;
                @include mixins.breakpoint(900px){
                    width: auto;
                    margin-left: 0;
                    padding: 0.5rem 0.5rem 5rem 0.5rem;
                }
            }
        }

    }
}

.go_down{
    padding-top: 5rem;

    @include mixins.flex(column,center);

    @include mixins.breakpoint(900px){
        padding-top: 1rem;
    }
    p{
        font-size: 1.6rem;
        color: $sub_text_color;
        font-family: 'Merianda', sans-serif;
        opacity: 80%;
        @include mixins.breakpoint(900px){
        font-size: 1.2rem;
        }
    }

    #underline_decoration_2{
        margin-top: 0.7rem;
        border-top: 0.2rem solid $sub_text_color;
        opacity: 40%;
        width: 30em;
        @include mixins.breakpoint(900px){
            width: 17.6rem;
        }
    }

    .arrow_bottom{
        @include mixins.flex(column, center);
        margin-bottom: 4rem;
        margin-top: 1.3rem;
        
        .arrow{
            width: 0.2rem;
            height: 6.5rem;
            background-color: $sub_text_color;
            display: inline-block;
            vertical-align: middle;
            opacity: 40%;
        }
        
        .arrow_down {
            //notre style pour la fleche en mixins avec une direction down
            @include mixins.arrow(down_direction);
        }
    }
}

/*PROJECT ABOUT*/

#about_project{
    display: flex;
    flex-direction: column;
    align-items: center;
    .cards {
        display: flex;
        //un flex wrap pour que les cards passent en dessous de l'autre si on réduire la largeur de la page
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 10rem;
        padding-top: 2rem;
        @include mixins.breakpoint(900px){
            padding-bottom: 6rem;
        }
    
        a{
            text-decoration: none;
        }
        .card {        
            @include mixins.flex(column);
            margin: 2rem;
            padding: 2rem;
            width: 40rem;
            border-radius: 1rem;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
            transition: all 0.2s;
            background: radial-gradient(#b69efe, #9b9cec);
            @include mixins.breakpoint(900px){
                width:30rem;
            }

                .card_project_img{
                    width: 100%;
                    height: auto;
                }

                .card_project_img img{
                    width: 100%;
                    height: 25rem;
                    object-fit: cover;
                    object-position: center;
                }
                .card_project_text_content{
                    @include mixins.flex(null, center, center);
                    background-color: #f1ecf7;
                    height: 20rem;
                    h2{
                        color:#554658;
                        @include mixins.breakpoint(900px){
                            font-size:2rem;
                        }
                    }
                }

            }

            .card-3{
                .card_project_img img{
                    object-fit: contain;
                }
            }

        .card:hover {
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
            ///si on hover une des card, elle grossit
            transform: scale(1.1);
        }
    }

    .go_down{
    padding-top: 12rem;
    }

}

///Skill////


article {
    padding-top: 8rem;
    width: 100%;
    margin: 1em auto;
    //on cache les lignes qui peuvent dépassent avec overflow hidden
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-bottom: 5rem;

    .skill_coding {
        height: 10vh;
        //on met un nowrap pour que le texte reste sur une ligne
        white-space: nowrap;
        // on met en uppercase pour tout mettre en majuscule
        text-transform: uppercase;
        color: #250710;
        font-size: 6vh;
        line-height: 6rem;
    }

    .skill_design {
        white-space: nowrap;
        text-transform: uppercase;
        color: #250710;
        font-size: 4vh;
        line-height: 6rem;
    }
}

/* passions */

#passion{
    height: auto;
    padding: 20rem 15rem 10rem 15rem;
    background: radial-gradient(#b69efe, #615086);
    @include mixins.breakpoint(900px){
        height:160vh;
        padding: 0;
    }
    .grid_gallery{
        margin: 0 4rem 10rem 4rem;
        padding-top: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 4rem;
    @include mixins.breakpoint(900px){
        margin: 0 4rem 10rem 4rem;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 7.6rem;
    }

        img{
            height:13rem;
            width: 25rem;
            object-fit:cover;
        }
        
        p{
            font-family: 'Merianda', sans-serif;
            color: #ece1f8;
            font-size: 1.6rem;
            @include mixins.breakpoint(900px){
                font-size: 1.3rem;
            }
            
        }

        .gallery_item{
            background-color: #9b9cec;
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
        .gallery_item:hover {
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
            transform: scale(1.1);
            transition: ease-in 0.5s ;
        }
    }
}

/* Projects */

#first_project, #second_project, #third_project, #fourth_project{
    @include mixins.flex(column,center,space-around);
    margin: 0 4rem 0 4rem;
    height: auto;

    @include mixins.breakpoint(900px){
        margin: 0;
        height: auto;
        padding-bottom: 5rem
    }

    #title_project_main{
        @include mixins.flex(null, null, center);
        margin-top: 3rem;
        margin-bottom: 9rem;
    }
// content des projets 
    .project_content{
        @include mixins.flex(row-reverse,null,null);
        border: #9b999965 solid;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #f1ecf7;
        width: auto;
        border-radius: 0.5rem;
        @include mixins.breakpoint(900px){
            @include mixins.flex(column-reverse,null,null);
            width: 35rem;
            height: auto;
        }

        h2{
            font-size: 4rem;
            @include mixins.breakpoint(900px){
                font-size: 2rem;
            }
        }
    //img content//
        .project_item{
            height: 50rem;
            width: auto;
            @include mixins.breakpoint(900px){
                height: 20rem;
                background: radial-gradient(#b69efe, #8071a0);
            }
        }
        .project_item img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            @include mixins.breakpoint(900px){
                object-fit: contain;
            }
        }
        //titre project//
        #title_project_sub{
            padding: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .title_project_content{
                display: flex;
                flex-direction: column;
                h2:hover ~ span {
                    transition: 0.8s;
                    width: 100%;
                }
            }

            .title_project_content span{
                height: 0.8rem;
                width: 10rem;
                background: radial-gradient(#b69efe, #8071a0);
                border-radius: 1rem;
                margin-top: 0.5rem;
            }
        }
        
        #bouton_learn_countainer{
            @include mixins.flex(null, null, flex-end);
        }
    }
}

#first_project .go_down{
    padding-top: 10rem;
}

#second_project, #third_project{
    margin-top: 10rem;
    margin-right: 0rem;

    @include mixins.breakpoint(900px){
        margin-top: 0;
    }

    .go_down{
        padding-top: 10rem;
        @include mixins.breakpoint(900px){
            padding-top: 10rem;
        }
    }
}


#third_project{
    img{
        object-fit: contain;
    }
}
#fourth_project{
    padding-bottom: 10rem;
}

/* pages*/

.content_project_page{
    height: auto;
    width: auto;
    margin: 0 4rem 0 4rem;
    border: #9b999965 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f1ecf7;
    border-radius: 0.5rem;
    margin-bottom: 20vh;
    @include mixins.breakpoint(900px){
        margin: 0 3rem 0 3rem;
        margin-bottom: 5rem;
    }

    .content_project_page_description{
        @include mixins.flex(column, center,center);

        p{
            margin-bottom: 6rem;
            text-align: center;
            @include mixins.breakpoint(900px){
                margin: 2rem;
            }
        } 
        a{
            text-decoration: none;
            color: #8562d1;
        }

        .page_description_inback{
            width: 45%;

            @include mixins.breakpoint(900px){
                width: 80%;
            }

            p{
                @include mixins.breakpoint(900px){
                    margin: 0 0 1.5rem 0;
                }
            }
        }

        #parc_img, #inback_img, #showreel_video{
            max-width: 100rem;
            margin-bottom: 6.4rem;
            @include mixins.breakpoint(900px){
                max-width: 25rem;
            }
        }

        .content_project_page_title{
            padding-top: 5rem;
            @include mixins.flex(column, null, center);
            margin-bottom: 5.6rem;

            h1:hover ~ #underline_decoration {
                transition: 0.8s;
                width: 100%;
            }

            #underline_decoration{
                height: 0.8rem;
                width: 10rem;
                background: radial-gradient(#b69efe, #8071a0);
                border-radius: 1rem;
                margin-top: 0.5rem;
            }
        }
    }

    #bouton_learn_countainer{
        @include mixins.flex(null, null,center);
        padding-bottom: 10rem;
        @include mixins.breakpoint(900px){
            padding-bottom: 5rem;
        }
    }
}